{% extends "appointments/base.html" %}
{% load static from staticfiles %}
{% block title %}Appointments List{% endblock title %}
{% block content %}
<div class = "container">
  <h1>Appointment.objects.all()</h1>
  <h1>{{ appointments|length }}</h1>
  {% for appointment in appointments %}
  <h1>{{ appointment.title }}</h1>
  {% endfor %}
  <table class="table table-striped table-hover">
    <tbody>
      {% for appointment in appointments %}
        <tr class="info">
          <th scope="row"><a href="{% url 'appointment_nfo' pk=appointment.pk %}">
            {{ appointment.title }}</a></th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
