{% extends "appointments/base.html" %}

{% block content %}
<div class="container">

      {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      <form class="form-horizontal" method="post" action="{% url 'login' %}">
      {% csrf_token %}
        <div class="form-group">
          <label for="text" class="col-sm-2 control-label">Username</label>
          <div class="col-sm-4">
            {{ form.username }}
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-4">
            {{ form.password }}
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-4">
            <input type="submit" class="btn btn-primary" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
          </div>
        </div>
      </form>

{% endblock %}
